.destination {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up(medium) {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }

    @include breakpoint-up(large) {
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
    }

    h4 {
        text-align: center;
        font-family: $barlow;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;

        span {
            color: hsl(222, 6%, 32%);
            letter-spacing: unset;
        }

        @include breakpoint-up(medium) {
            text-align: unset;
            font-size: 20px;
            margin-left: 39px;
        }

        @include breakpoint-up(large) {
            font-size: 28px;
            margin-left: 150px;
        }
    }

    &__content {
        @include breakpoint-up(large) {
            &-items {
                display: flex;
                align-items: center;
                margin-left: 160px;
                gap: 130px;
                // justify-content: space-around;

                &1 {
                    width: 50%;
                }

                &2 {
                    width: 50%;
                }
            }
        }
    }

    // background-color: red;
}