.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  @include breakpoint-up(medium) {
    padding: unset;
    padding-left: 39px;
  }

  @include breakpoint-up(large) {
    padding-top: 39px;
  }

  &__logo {
    height: 40px;
    width: 40px;

    @include breakpoint-up(medium) {
      height: 48px;
      width: 48px;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__navM {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 0.161);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100vh;
    top: 0;
    transition: div 0.3s linear !important;
    z-index: 2;

    &-img {
      margin-top: 34px;

      img {
        float: right;
        margin-right: 26px;
      }
    }

    ul {
      height: 96px;
      display: flex;
      flex-direction: column;
      gap: 38px;
      list-style: none;
      margin-top: 70px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: $barlow;
      font-size: 18px;

      li {
        padding-block: 6px;
      }

      span {
        font-weight: 700;
        margin-right: 13px;
      }
    }
  }

  &__nav {
    display: flex;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(10px);
    padding-inline: 50px;

    @include breakpoint-up(large) {
      padding-inline: 180px;
    }

    ul {
      height: 96px;
      display: flex;
      align-items: center;
      gap: 38px;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        letter-spacing: 3px;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 200;

        a {
          text-transform: uppercase;
          font-family: $barlow;

          span {
            font-weight: 700;
            margin-right: 13px;
          }
        }
      }
    }
  }
}

.l {
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  left: 22%;
  border-top: 1px solid #fff;
  width: 473px;
  z-index: 2;
}

.active {
  @include breakpoint-down(medium) {
    border-right: 4px solid $white;
  }

  @include breakpoint-up(small) {
    position: relative;
    border-bottom: 2px solid $white;
    transition: all 0.3s linear;
  }
}